.q-file-tabs {
  --file-gap: #80808024;
  --main-color: #14b8a6; 
  :global(.sp-tabs-scrollable-container) {
    padding-inline: 0px;
    min-height: unset;
  }

  :global(.sp-tab-button) {
    height: 32px;
    box-sizing: content-box;
    &[data-active="true"] {
      border-bottom: 2px solid var(--main-color);
    }
  }

  :global(.sp-tab-button:not(:last-of-type)) {
    border-right: 1px solid var(--file-gap);
  }
}

:global(.q-editor) {
  font-size: 14px;
}

:global(.cm-lineNumbers) {
  font-size: 1em !important;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
